<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="EffectGate"
    Manufacturer="EffectGate"
    Version="1.0.1"
    UpgradeCode="B17A5CD5-0E8D-54E5-A282-432A8FC3A76B"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer EffectGate version is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="EffectGate">
        <Component Id="EffectGatePath" Guid="40AB0EAD-53B6-57A9-BA70-F3FC682D9673">
          <Environment
            Id="EffectGatePathEntry"
            Name="PATH"
            Value="[INSTALLFOLDER]"
            Permanent="no"
            Part="last"
            Action="set"
            System="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="EffectGateFeature">
      <ComponentRef Id="EffectGatePath" />
      <Files Directory="INSTALLFOLDER" Include="**" />
    </Feature>
  </Package>
</Wix>
